body {
    width: 1200px;
}
.seccion-1{
    background-color: rgb(58, 231, 110);
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    font-family: Georgia;
    margin-bottom: 20px;
   
}


