body {
    width: 1200px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}

.seccion-3 {
    display: flex;
    flex-direction: column;
}

.seccion-3__miembro {
    display: flex;
    flex-direction: column;
    align-content: center;
    margin: 5px;
    /* padding: 5px; */
}

.seccion-3__titulo {
    display: flex;
    justify-content: center;
}

.seccion-3__contenido
{
    display: flex;
    justify-content: center;
}

.seccion-3__imagen
{
    width: 230px;
    height: 230px;
}

.seccion-3__descripcion 
{
    text-align: justify;
} 

.seccion-1{
    background-color: rgb(58, 231, 110);
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    font-family: Georgia;
    margin-bottom: 20px;
   
}

.header{
    background-color: darkgray;
    
}

.barra-superior{

display: flex;
justify-content: center;
align-items: center;
border: navy 3px solid;
}

.titulo-panel{
    background-color: lightskyblue;
    width: 50%;
    text-align: center;
    color: black;
}

.contenedor-menu{
    /* background-color: lightblue; */    
    width: 50%;
}

.menu-principal{
display: flex;
list-style: none;
justify-content: space-evenly;
}

.menu-principal__item > a:hover{
 font-size: 20px;
 text-decoration: underline;
}

.menu-principal__item > a{
    text-decoration: none; 
    color: black;
    font-size: large;
    font-style: italic;
    font-weight: 600;
}
.baner-imagen{
    border: navy 3px solid;
}
